[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

opencv-contrib-python = "*"
scikit-learn = "*"
numpy = "*"
scipy = "*"
tensorflow = "*"
"html5lib" = "*"


[dev-packages]



[requires]

python_version = "3.6"
